[Unit]
Description=Sunsync Hue daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=cyn8
Group=cyn8
WorkingDirectory=/opt/sunsync-hue
ExecStart=/opt/sunsync-hue/env/bin/python /opt/sunsync-hue/sunsync-hue.py run
Restart=on-failure
RestartSec=30s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
